{% load otree_tags staticfiles %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        First Task Instructions
    </h3>

    <p>
        After you completed the trial page, please continue with the the first task.

    </p>

    <p>
        This is "the production phase" For every word that you type correctly on the screen,
        you will be rewarded a lab token with the value AUD$ 0.01. After completing this task, the token is
        automatically added to participant’s wallet and subsequently referred in the task as participant endowment.
        You will have 2 minutes to finish the task.

    </p>

    <p>
        Please be mindful to the detail of the paragraph. Mistyping a letter will cost you
        one word in your wallet.
    </p>
</div>

