{% load otree_tags staticfiles %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        First Task Instructions
    </h3>

    <p>
        In this study, you will be paired randomly and anonymously with another participant.
        You will be randomly allocated the role of either a Sender or a Receiver. If you are the Sender, you will be required to make a series of decision.
        Prior to making a decision, you will learn your role and given other information relevant to your decision.


    </p>

    <p>
        This is "the production phase" where you will find a paragraph in on screen. You are requested to transcribe it into an input box in their computer screen; you will have 5 minutes to finish the work.  For the correct every word they type correctly on the screen,
        the participant receives a lab token reward with the value AUD$ 0.05. After completing this task, the token is automatically added to participant’s wallet and subsequently referred in the task as participant endowment.

    </p>

    <p>
        Please note that you will only have five minutes to finish your transcription task.
    </p>
</div>

