{% extends "global/Page.html" %}
{% load otree_tags %}

{% block title %}Your Decision{% endblock %}

{% block content %}

<p>
    {{allocation3x}} is the amount of allocation of shared endowment with
    {{ Constants.players_per_group }} participants per group.

</p>

<p> In the production task your co-participant with whom you will share the endowment with, generated  and catches red balls
    the other players in the production task has earned  and were able to catch. </p>

{% formfield group.Ikeep %}

<p>

    You are <strong> The Sender </strong>. After you learn the random number that appear to you, Now please provide the amount that you would like to allocate to your co-participant.

</p>

{% formfield group.kept %}


{% next_button %}



{% endblock %}