{% extends "global/Page.html" %}
{% load otree_tags %}

{% block title %}Introduction{% endblock %}

{% block content %}
<p>
    Welcome to The RMIT Behavioral Business Lab Experiment Session.
</p>

<p>
Our session today is a part of a research project “The Experimental study on Making and Communicating Decisions.”
</p>

<p>
    This session will last for 60 minutes.If you decide to withdraw from the project before the session ends, please notify a member of the research team that is present by raising your hand, and we will help you to go
through the withdrawal process.

</p>


{% include Constants.instructions_template %}
{% next_button %}
{% endblock %}
