{% extends "global/Page.html" %}
{% load otree_tags staticfiles %}

{% block title %}
  Second Task
{% endblock %}

{% block content %}
<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
       Second Task Instructions
    </h3>

    <p>
        You are now in the second round of the second task, you are still paired randomly and anonymously with another participant.
        one of you will assume the role to be the sender and your co-player will assume the role to be the receiver.

    <p>
       Both the sender and the receiver will share {{ Constants.endowment }} lab token. The Sender will decide how much she or he
       will retain. Then the rest will go to the receiver. This task is going to be repeated several times with variation in
       the amount of shared endowment and relative benefit of players. Prior to making a decision, our algorithm will generate
       a number that determines the proportion of your endowment share. This information is only observed by the sender.
</div>

{% next_button %}

{% endblock %}