{% extends "global/Page.html" %}
{% load otree_tags %}

{% block title %}Your Decision{% endblock %}

{% block content %}

<p>
    {{allocation_edit}} is the amount of allocation of shared endowment with
    {{ Constants.players_per_group }} players per group,

</p>

{% formfield group.Ikeep %}

<p>

    You are <strong> The receiver </strong>. among the below possible option, please provide the amount that you think the sender would share to you .

</p>

{% formfield group.kept %}


{% next_button %}



{% endblock %}