{% extends "global/Page.html" %}
{% load otree_tags staticfiles %}

{% block title %}
   Second Task Trial Phase Instruction
{% endblock %}

{% block content %}
<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
       Trial phase
    </h3>

    <p>
        After completing your first task, you will now continue with the second task in which
        you are paired randomly and anonymously with another participant. First, we will provide you with
        an example and then after you completed a quiz you may start the second task and earn money.
    <p>
       One of you will assume the role to be the sender and the co-participant will assume the role to be
       the receiver. Both the sender and the receiver will share {{ Constants.endowment }} lab token. The Sender will decide how much the sender
       will retain by generating a random-number privately observed by the sender. The sender will have to report the number generated and the payoff.
       Based on this report, the shared endowment will be allocated between the sender and the receiver.

</div>

<p>
    please continue with the trial page for the second task
</p>

{% next_button %}

{% endblock %}