{% extends "global/Page.html" %}
{% load otree_tags staticfiles %}

{% block content %}


<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
         Instructions
    </h3>

    <p>
        you have been randomly selected to participate in the <strong> Production Phase </strong>. You will have 1 minute to complete the task in each round.
        For every point that you receive, you will be rewarded with one lab token with the value of AUD$ 0.01 for each lab token.
        After completing this task, the token is automatically added to participant’s wallet and subsequently referred in the experiment as your endowment.
    </p>
    <p> We will now begin with a trial page and then continue with the first production task. Please proceed to the trial page. </p>
</div>


{% next_button %}
{% endblock %}