{% load otree_tags staticfiles %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        Production Phase Instructions
    </h3>

    <p>
       Thank you for completing your trial page.  After you completed the trial page, please continue with the the Production Phase.

    </p>

    <p>
        This is "the production phase" For every points that you earned in this round,you will be rewarded a lab token with the value AUD$ 0.01.
        After completing this task, the token is automatically added to participant’s wallet and subsequently referred in the task as participant endowment.
        You will have 1 minutes to finish the task.

    </p>

    <p>
        Please be mindful to the detail of the task. Each round has its distinctive value of points, Failing to understand the detail of the task will cost you
        money.
    </p>
</div>

