{% load otree_tags staticfiles %}


<p>
    Welcome to The RMIT Behavioral Business Lab Experiment Session.
</p>


<p>
Our session today is a part of a research project “The Experimental study on Making and Communicating Decisions.”
</p>

<p>
    This session will last for 60 minutes.If you decide to withdraw from the project before the session ends, please notify a member of the research team that is present by raising your hand, and we will help you to go
through the withdrawal process.

</p>

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
         Instructions
    </h3>

    <p>
        In this study, you will be paired randomly and anonymously with another participant.
        You will be randomly allocated the role of either a sender or a receiver. You will be required to make a series of decision.
        Prior to making a decision. You will learn your role and given other information relevant to your decision.


    </p>

    <p>
        At the beginning of our session, Most of our study participant are invited to participate in
        a production phase. In this phase you are requested to complete a series of tasks appearing in your computer screen; you will have 1 minute to complete the task in each round.  For every point that you receive,
        you will be rewarded with one lab token  with the value AUD$ 0.01. After completing this task, the token is automatically added to participant’s wallet and subsequently referred in the experiment as your endowment. We will begin with a trial page and continue with the first production task.
    </p>
    <p> Please proceed to the trial page </p>
</div>
