{% extends "global/Page.html" %}
{% load otree_tags staticfiles %}

{% block title %}
    Allocation of shared endowment
{% endblock %}

{% block content %}
<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
       Second Task Instructions
    </h3>

    <p>
        You are now in the third round of The Second Task, you are still paired randomly and anonymously with another participant.

    <p>
    In this round, both the sender and the receiver will share {{ Constants.endowment }} lab token. <strong> The Sender </strong> will decide how much <strong> the sender </strong>
       will retain. Then the rest will go to <strong>the receiver</strong> . Prior to making a decision, our algorithm will generate
    a number that determines the proportion of your endowment share. This information is only observed by <strong>the sender</strong>.
</div>

{% next_button %}

{% endblock %}