{% extends "global/Page.html" %}
{% load otree_tags staticfiles %}

{% block content %}


<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
         First Phase Instructions
    </h3>

    <p>
        You have been randomly assigned to participate in the <strong> Production Phase </strong>.
    </p>

    <p>
        This phase is  <strong> the ball-catching task </strong>, In this task, a large number of Red balls will be falling following a random pattern, your objective is to catch as many red balls as you can by moving a red tray to the left and the right. You will have <strong>1 minute</strong> to complete the task in each round.
        You will get points/scores according to how many red balls you caught, for every score that you earned, you will be rewarded with one lab token with the value of <strong>AUD$ 0.01</strong>.
    </p>

    <p>
        Remember that sliding the tray to the left and right, however, will cost you money. Therefore you must be very careful to choose the most effective strategy to catch more red balls without moving your tray too frequently.
        After completing this task, the token is automatically added to participant’s wallet and subsequently referred in the experiment as your endowment.
    </p>
    <p> We will now begin with a trial and then continue with the first production task. Please proceed to the trial page. </p>
</div>


{% next_button %}
{% endblock %}