{% load otree_tags staticfiles %}


<p>
    Welcome to <strong> The RMIT Behavioral Business Lab </strong> Experiment Session.
</p>


<p>
    Our session today is a part of a research project <strong> “An Experimental study on Making and Communicating Decisions. </strong>”
</p>

<p>
    This session will last for approximately 60 minutes. Please read the following instructions carefully.

</p>

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
         Activity Instructions
    </h3>

    <p>
        In this study, you will be paired randomly and anonymously with another participant. Both of you will make decisions in a series of tasks.
        Our activity today will consist of <strong> four phases</strong>.
    </p>

    <p>
         In the <strong>first phase</strong>,a group of players will participate in a production phase in which they will earn some points as their income. The other group of players will not be participating in the first phase. Instead, they will receive a fix income.
         In the <strong>second phase (the allocation Phase)</strong>, and in the <strong>third phase(the box collection phase)</strong>,  you will be required to make a
        series of decisions in multiple rounds. Finally, the <strong>fourth phase</strong> is the <strong>survey phase</strong>; in which you are expected to answer all the questions in this phase.
    </p>

    <p>
        In each task in these phases, you can earn money. Our computer algorithm will keep track of how much money you earn throughout the session.
        Only after you answer all the questions and finish all study phases you will receive your payments.
    </p>

    <p>
        We will start with the first phase of our experiment : <strong> The Production Phase </strong>. We will randomly select the participants eligible to this phase.
        If you are eligible, you will find the task appearing in your computer screen. If it does not appear in your screen, please wait until your partner complete the task. You can proceed to the next phase
        after they completed their task.

        Please proceed to the next page by clicking the blue button below.
    </p>

</div>
