{% load otree_tags staticfiles %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        Production Phase Instructions
    </h3>

    <p>
       Thank you for completing your trial. Please continue with the the Production Phase.

    </p>

    <p>
       We will now begin with the "the production phase". This phase is <strong> the ball-catching task </strong>, In this task, a large number of red balls will be falling following a random pattern, your objective is to catch as many red balls as you can by moving a red tray to the left and the right. You will have 1 minute to complete the task in each round.
        You will get points/scores according to how many red balls you caught, for every score that you earned, you will be rewarded with one lab token with the value of AUD$ 0.01 for each lab token.
    </p>

    <p>
       Remember that sliding the tray to the left and right, however, will cost you money. Therefore you must be very careful to choose the most effective strategy to catch more red balls without moving your tray too frequently.
        After completing this task, the token is automatically added to participant’s wallet and subsequently referred in the experiment as your endowment.For every points that you earned in this round,you will be rewarded a lab token with the value AUD$ 0.01.
        After completing this task, the token will be automatically added to participant’s wallet and subsequently referred in the task as participant endowment.

    </p>

    <p>
        You will have 1 minutes to finish the task. Please be mindful to the detail of the task. Each round has a distinct number of points, failing to understand the detail of the task will cost you
        money. Once you are ready, please click the <strong>"start the task" </strong> button on your right side. To catch the falling red ball, you can move the tray by clicking the button "left" to move it to the left and the button "right" to move it to the right.
    </p>

    <p>
        Please click the blue button below to proceed.
    </p>
</div>

