{% load otree_tags staticfiles %}


<p>
    Welcome to <strong> The RMIT Behavioral Business Lab </strong> Experiment Session.
</p>


<p>
    Our session today is a part of a research project <strong> “The Experimental study on Making and Communicating Decisions. </strong>”
</p>

<p>
    This session will last for approximately 60 minutes. Please read the following instructions carefully.

</p>

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
         Instructions
    </h3>

    <p>
        In this study, you will be paired randomly and anonymously with another participant. Both of you will make decisions in a series of tasks.
        Our activity today will consist of <strong> four phases. </strong>
    </p>

    <p>
         In the <strong>first phase </strong>, you will participate in a production phase in which you will earn your individual
        endowment. In the <strong>second phase </strong> (the allocation Phase), and in the <strong>third phase </strong>, (the box collection phase) you will be required to make a
        series of decision in a multiple rounds. Finally, the <strong>fourth</strong> phase is the survey phase; in which you have to answer all the questions.
    </p>

    <p>

        In each decision task, you can earn money. Our computer algorithm will keep track of how much money you earn throughout the session.
        Only after you answer all the questions and finish all study phases that you will receive your payments.

    </p>

    <p>
        We will start with the first phase of our experiment : <strong> The Production Phase </strong>.
        You will find the task appearing in your computer screen and you will have 1 minute to complete the task in each round.
        For every point that you receive, you will be rewarded with one lab token with the value of AUD$ 0.01 for each lab token.
        After completing this task, the token is automatically added to participant’s wallet and subsequently referred in the experiment as your endowment.
    </p>
    <p> We will now begin with a trial page and then continue with the first production task. Please proceed to the trial page. </p>
</div>
