{% load otree_tags staticfiles %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        Instructions
    </h3>

    <p>
    By now, you have learned the amount of your shared endowment, and the proportion that you should allocate to your co-player.
    </p>

    <p>
        As <strong> the Sender </strong>, you will have to split {{ Constants.endowment }} with the other participant. You will be the one to
        decide how much she or he will retain. In this session, each of endowment share retrieved by the sender will be multiplied by {{Constants.multiplier}}. Then the rest will go to
        the receiver. The tabel below, exhibit the relative benefit to the Sender and the Receiver in each possible allocation chosen by the sender
    </p>


    <table class=table>
        <tr>
            <th> If I keep </th>
            <td>10</td>
            <td>20</td>
            <td>30</td>
            <td>40</td>
            <td>50</td>
            <td>60</td>
            <td>70</td>
            <td>80</td>
            <td>90</td>
            <td>100</td>
        </tr>
        <tr>
            <th>My own benefit</th>
            <td>30</td>
            <td>60</td>
            <td>90</td>
            <td>120</td>
            <td>150</td>
            <td>180</td>
            <td>210</td>
            <td>240</td>
            <td>270</td>
            <td>300</td>
        </tr>
        <tr>
            <th>My Co-Player benefit</th>
            <td>90</td>
            <td>80</td>
            <td>70</td>
            <td>60</td>
            <td>50</td>
            <td>40</td>
            <td>30</td>
            <td>20</td>
            <td>10</td>
            <td>0</td>
        </tr>
    </table>
    <p>
</div>