{% extends "global/Page.html" %}
{% load otree_tags %}

{% block title %}Your Decision{% endblock %}

{% block content %}

<p>
    {{allocation1}} is the amount of allocation of shared endowment with
    {{ Constants.players_per_group }} players per group,

</p>

{% formfield group.Ikeep %}

<p>

    You are <strong> The Sender </strong>. After you learn the random number that appear to you, Now please provide the amount that you would like to allocate to your co-player .

</p>

{% formfield group.kept %}


{% next_button %}



{% endblock %}