{% extends "global/Page.html" %}
{% load otree_tags %}

{% block title %}Your Decision{% endblock %}

{% block content %}
<p>
    {{allocation_edit}} is the amount of allocation of shared endowment with
    {{ Constants.players_per_group }} players per group,
<p>
You are <strong> The Sender </strong>. After you learn the random number that appear to you, Now please provide the random number to your co-player .
</p>

{% formfield group.Ikeep %}


{% formfield group.kept %}

<p>
{% next_button %}

    {% include Constants.instructions_template %}

{% endblock %}