{% extends "global/Page.html" %}
{% load otree_tags %}

{% block title %}Your Decision{% endblock %}

{% block content %}

<p>
    {{allocation3}} is the amount of allocation of shared endowment with
    {{ Constants.players_per_group }} participants per group.

</p>

<p>In the production task you have played several rounds and generate
    <strong> {{income1}} </strong> and you have successfully catch  <strong> {{catches1}} </strong> red balls. Your co-participant
    with whom you will share the endowment with, on the other hand has earned <strong> {{player.get_partner_income}} </strong> and were able to catch
    <strong> {{player.get_partner_catch}} </strong>. Other players catch {{Player.get_others_catch}} </p>

{% formfield group.Ikeep %}

<p>

    You are <strong> The Sender </strong>. After you learn the random number that appear to you, Now please provide the amount that you would like to allocate to your co-participant.

</p>

{% formfield group.kept %}


{% next_button %}



{% endblock %}